.footer{
    background-color: #FFF8F5;

    font-size: 16px;



    padding: 10px;
}

.footer .upper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .upper .info{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 40%;
}

.footer .upper .map{
    width: 50%;
    height: 100%;
}

.footer .upper .info .footer_title{
    font-family: Montserrat;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 43.88px;


    margin: 0;

    padding-top: 20px;
    padding-bottom: 20px;
}

.footer .upper .info .footer_contacts{
    font-family: Montserrat;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 29.26px;

}

.footer .upper .info .footer_contacts{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer .upper .info .footer_contacts .footer_contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .upper .info .footer_contacts .footer_contact:not(:last-child){
    margin-bottom: 5px;
}

.footer .upper .info .footer_contacts .footer_contact .footer_contact_image{
    margin-right: 5px;
}

.footer .upper .info .footer_social-media{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-weight: 500;
}

.footer .upper .info .footer_social-media .footer_social-media_elements{
    width: 100%;
}

.footer  .footer_social-media .social-media_title{
    font-size: 1.25em;
}



.footer .upper .info .footer_social-media .footer_social-media_element:not(:last-child){
    margin-right: 20px;
}

.schedule{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .footer_copyright{
    font-family: Montserrat;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 29.26px;

    color: #272626;
}

.footer .bottom{
    margin-top: 20px;
}

.footer .upper .webcommand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer .bottom .webcommand{
    display: none;
}

.footer .webcommand_description{
    font-family: Montserrat;
    font-weight: 600;
}

@media (min-width: 0px) and (max-width: 768px){

    .footer .upper{
        flex-direction: column;
        align-items: center;
    }

    .footer .upper .info{
        width: 100%;

        flex-direction: column;
    }

    .footer .upper .info .footer_title{}

    .footer .upper .info .footer_contacts{
        font-size: 1em;
    }

    .footer .upper .info .footer_social-media{
        display: flex;
        align-items: flex-start;

        height: 70px;
        font-size: 1em;
        font-weight: 500;

        margin-bottom: 10px;
    }

    .footer_social-media_elements{
        display: flex;
        justify-content: space-between;
    }

    .footer .upper .info .footer_social-media .footer_social-media_element:not(:last-child){
        margin-right: 0;
    }

    .footer .footer_copyright{
        font-size: 1em;
    }

    .footer .upper .webcommand{
        display: none;
    }

    .footer .bottom .webcommand{
        display: block;
    }

    .footer .upper .map{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1250px) {
    .footer .upper .info{
        width: 50%;
    }

    .footer_social-media{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer_social-media_elements{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .upper .info .footer_social-media .footer_social-media_element:not(:last-child){
        margin-right: 0;
    }
}